body {
    font-family: sans-serif;
}
li {
    text-decoration: none;
    padding: 10px;
    background: lightblue;
    list-style: none;
    width: 50%;

}
ul {
    column-count: 3;
}
input {
    width: 70%;
    padding: 10px;
    margin: 10px;

}

button{
    height: 40px;
    align-content: center;
    margin-left: 50%;
    margin-right: auto;
    background-color: #57f145;
}
button:hover{
    background-color: #afffa6;
}
button:active{
    background-color: #29851f;
}